div {
    border: dashed purple;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 5fr 3.5fr 1.5fr;
}

.logo {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: lightcoral;
}

.navigation {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: cornflowerblue;
}

.middle {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: cyan;
}

.boxone {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: greenyellow;
}

.boxtwo {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: red;
}

.boxthree {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: orange;
}

.footer {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: palevioletred;
}

.flexcontainer {
    display: flex;
    flex: wrap;
}

.child {
    flex: 40%;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}